html {
  font-size: 62.5%;
}

main {
  background-color: skyblue;
  max-width: 100rem;
  margin: 10rem auto;
  padding: 4rem 10rem;
}
main h1 {
  text-align: center;
}
.activities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.activities span {
  margin-right: 4rem;
  font-size: 1.4rem;
  cursor: pointer;
}
.text-area {
  margin-top: 6rem;
  margin-left: 6rem;
  padding: 2rem;
}
.bold {
  font-weight: bolder;
}
.italic {
  font-style: italic;
}
#bold {
  font-weight: bolder;
}
#italic {
  font-family: italic;
}
#underline {
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}
.text-style img {
  width: 4rem;
  height: 2rem;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.active {
  color: rgb(193, 193, 220);
  padding: 0.5rem 0.9rem;
  background-color: rgb(97, 97, 192);
}
